body {
    background-color: #8f969d;
    color: #f7f9fa;
    font-family: "Playwrite NZ Basic", cursive;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
h1 {
    font-size: 64px;
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
}
h2, h3 {
    margin: 1em;
}
#section-header {
    font-size: 30px;
    text-align: center;
    color: #3a4548;
}
.section-body {
    color: #f7f9fa;
    padding: 1em;
    text-align: left;
    font-size: larger;
}
.right-figure {
    float: right;
    margin-right: -5em;
}
figure img {
    border: 3px solid #f7f9fa;
    border-radius: 8px;
    max-width: 80%;
    height: auto;
}
/* parallax scrolling */
.main-parallax {
    background-image: url(images/pictureback-helmet-1857627_1280.jpg);
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul a:hover {
    color: #067a84;
}
a:hover {
    color: #f7f9fa;
}
a:link {
    color: #3a4548;
}
a:visited {
    color: #3a4548;
}
nav {
    transition: height 0.5s ease-in;
    position: fixed;
    top: 1em;
    width: 100%;
}
nav ul {
    display: flex;
    position: relative;
    z-index: -1;
    flex-direction: column;
    list-style-type: none;
    width: 50%;
    transform: translateY(0);
    transition: transform 0.5s ease-in;
}
nav ul a {
    text-decoration: none;
    display: block;
    padding: 0.5em;
    border: 2px solid #f7f9fa;
}
.logo-img {
    width: 150px;
    height: auto;
    float: right;
}
/* navbar menu */
a.hamburger-toggle {
    display: flex;
    flex-direction: column;
    width: 35px;
}
span.bar {
    display: inline-block;
    width: 35px;
    height: 5px;
    border-radius: 8px;
    background-color: #f7f9fa;
    margin: 3px 0;
}
/* hidden menu */
ul.hidden {
    transform: translateY(-300px) scaleY(0);
    transition: transform 0.5s ease-in;
}
nav.minimized {
    transition: transform 0.5s ease-in;
}
@media screen and (min-width: 1080px) {
    nav ul {
        flex-direction: row;
    }
}