html, body {
    background-color: #8f969d;
    color: #f7f9fa;
    font-family: "Playwrite NZ Basic", cursive;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}
h1 {
    font-size: 64px;
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
}
h2, h3 {
    margin: 1em;
}
.section-header {
    font-size: 30px;
    text-align: center;
    color: #3a4548;
}
.section-body {
    color: #f7f9fa;
    padding: 1em;
    text-align: left;
    font-size: 25px;
}
.container {
    display: flex;
    justify-content: center;
}
.container img {
    border: 2px solid #f7f9fa; 
    flex-direction: column;
    width: 1000px;
    height: auto;
}
.right-figure {
    float: right;
}
figure img {
    border: 3px solid #f7f9fa;
    border-radius: 8px;
    max-width: 80%;
    height: auto;
}
cite {
    font-size: 13px;
}
.box {
    background-color: rgba(125, 138, 138, 0.5);
    border: 2px solid #f7f9fa;
    border-radius: 8px;
    width: 85%;
    justify-self: center;
}
.box-right {
    display: flex;
    background-color: rgba(125, 138, 138, 0.5);
    border: 2px solid #f7f9fa;
    border-radius: 8px;
    width: 50%;
}
.bottom-box {
    background-color: rgba(125, 138, 138, 0.5);
    border: 2px solid #f7f9fa;
    border-radius: 8px;
    width: 60%;
}
.inside-box {
    background-color: #3a4548;
    border: 2px solid #f7f9fa;
    border-radius: 8px;
    width: 70%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
dl {
    font-size: 1.5vw;
}

/* navbar menu */
nav {
    position: fixed;
    top: 1em;
    width: 100%;
}
nav ul {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 30%;
    padding: 0;
    margin: 0;
}
nav ul a {
    text-decoration: none;
    display: block;
    padding: 0.5em;
    border: 2px solid #f7f9fa;
    background-color: #8f969d;
}
nav ul a:hover {
    background-color: #d2d7da;
    color: #067a84;
}
nav ul a:hover {
    color: #067a84;
}
a:hover {
    color: #f7f9fa;
}
a:link {
    color: #3a4548;
}
a:visited {
    color: #3a4548;
}
.logo-img {
    width: 150px;
    height: auto;
    float: right;
    opacity: 75%;
}

/* parallax scrolling */
.space {
    background-color: #8f969d;
    min-height: 100px;
}
.parallax {
    background-image: url(images/Paul-and-Mike.webp);
    min-height: 1100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3a4548;
    opacity: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile */
@media screen and (min-width: 1080px) {
    nav ul {
        flex-direction: row;
    }
}