html, body {
    background-color: #8f969d;
    color: #f7f9fa;
    font-family: "Playwrite NZ Basic", cursive;
    scroll-behavior: smooth;
    max-width: 100%;
}
h1 {
    font-size: 64px;
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
}
h2, h3 {
    margin: 1em;
}
#section-header {
    font-size: 30px;
    text-align: center;
    color: #3a4548;
}
.section-body {
    color: #f7f9fa;
    padding: 1em;
    text-align: center;
    font-size: larger;
}
.container {
    display: flex;
    justify-content: center;
}
.container img {
    border: 2px solid #f7f9fa;
    border-radius: 5px; 
    flex-direction: column; 
}
img {
    width: 400px;
    height: auto;
}
table{
    border: 1px solid #f7f9fa;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}
th {
    border: 1px solid #f7f9fa;
    text-align: center;
}

/* navbar menu */
nav {
    position: fixed;
    top: 1em;
    width: 100%;
}
nav ul {
    position: relative;
    display: flex;
    list-style-type: none;
    width: 50%;
    padding: 0;
    margin: 0;
    transform: translateY(0);
}
nav ul a {
    text-decoration: none;
    display: block;
    padding: 0.5em;
    border: 2px solid #f7f9fa;
    background-color: #8f969d;
}
nav ul a:hover {
    background-color: #d2d7da;
    color: #067a84;
}
nav ul a:hover {
    color: #067a84;
}
a:hover {
    color: #f7f9fa;
}
a:link {
    color: #3a4548;
}
a:visited {
    color: #3a4548;
}
.logo-img {
    width: 150px;
    height: auto;
    float: right;
    opacity: 75%;
}

/* parallax scrolling */
.main-parallax {
    background-image: url();
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-space {
    background-color: #8f969d;
    min-height: 150px;
}

/* Mobile */
@media screen and (min-width: 1080px) {
    nav ul {
        flex-direction: row;
    }
}