body {
    background-color: #8f969d;
    color: #f7f9fa;
    font-family: "Playwrite NZ Basic", cursive;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
h1 {
    font-size: 64px;
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
}
h2, h3 {
    margin: 1em;
}
.section-header {
    font-size: 40px;
    text-align: center;
    color: #3a4548;
}
.section-body {
    color: #f7f9fa;
    padding: 1em;
    text-align: left;
    font-size: larger;
}
.section-box {
    color: #f7f9fa;
    font-size: large;
}
.right-figure {
    float: right;
}
figure img {
    float: right;
    border: 3px solid #f7f9fa;
    border-radius: 8px;
    max-width: 60%;
    height: auto;
}

.box {
    background-color: rgba(125, 138, 138, 0.5);
    padding: 20px;
    border: 2px solid #f7f9fa;
    width: 90%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* navbar menu */
nav {
    position: fixed;
    top: 1em;
    width: 100%;
}
nav ul {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 30%;
    padding: 0;
    margin: 0;
}
nav ul a {
    text-decoration: none;
    display: block;
    padding: 0.5em;
    border: 2px solid #f7f9fa;
    background-color: #8f969d;
}
nav ul a:hover {
    background-color: #d2d7da;
    color: #067a84;
}
nav ul a:hover {
    color: #067a84;
}
a:hover {
    color: #f7f9fa;
}
a:link {
    color: #3a4548;
}
a:visited {
    color: #3a4548;
}
.logo-img {
    width: 150px;
    height: auto;
    float: right;
    opacity: 75%;
}
/* parallax scrolling */
.space {
    background-color: #8f969d;
    min-height: 100px;
}
/* Mobile */
@media screen and (min-width: 1080px) {
    nav ul {
        flex-direction: row;
    }
}